:root {
  --text-color: #2c3e50;
  --hover-color: #2980b9;
  --bg-color: #ecf0f1;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

a:hover {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

header,
footer,
div {
  box-sizing: border-box;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.montserrat-bold {
  font-weight: 500;
}
.lobster {
  font-family: "Lobster", cursive;
}
.up {
  text-transform: uppercase;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  height: 100vh;
}

header {
  width: 100%;
  padding: 20px;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
}

#content {
  padding: 20px;
}

#content h2 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}

#content .about {
  font-size: 22px;
  line-height: 38px;
}

.section h3:hover {
  cursor: pointer;
}

.section p {
  font-size: 18px;
  line-height: 24px;
}

.section.closed .section-content {
  display: none;
}

.section .section-content {
  padding-left: 20px;
}

.section .section-content .exp {
  border: 1px solid red;
  margin-bottom: 20px;
}

.section .section-content .exp h4 {
  margin: 0;
  padding: 10px 0;
  font-size: 22px;
}

footer {
  padding: 20px;
}

footer h3 {
  margin-top: 0;
  padding-top: 0;
}

#links {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

#links a {
  border-bottom: none;
  display: flex;
  align-items: center;
}

#links a i {
  font-size: 32px;
  margin-right: 20px;
}
