// This scss in injected globally by stencil.config.ts

$color-black-1: #000000;
$color-black-2: #202020;
$color-black-3: #2d3436;
$color-gray-1: #606060;
$color-gray-2: #959595;
$color-green-1: #00b894;
$color-green-2: #55c096;
$color-white: white;
$color-vivocha: #ef5f19;
$color-startupitalia: #e93a4f;

$text-color: var(--color-black-3);
$link-hover-color: var(--color-green-2);
$bg-color: var(--color-white);
$font-bebas: 'Bebas Neue', cursive;

$animate-duration: 1s;
$animate-delay: 1s;
$animate-repeat: 1;

@import "animations";
