:root {

  /** CSS PRIMARY COLORS */
  --color-primary-a0: #ffffff;
  --color-primary-a10: #c6cbd0;
  --color-primary-a20: #9099a3;
  --color-primary-a30: #5c6a78;
  --color-primary-a50: #2c3e50;
  --color-primary-a60: #23303c;
  --color-primary-a70: #1a222a;
  --color-primary-a80: #111519;
  --color-primary-a90: #000000;

  /* FLAT UI COLORS */
  --turquoise: #1abc9c;
  --emerald: #2ecc71;
  --peter-river: #3498db;
  --amethyst: #9b59b6;
  --wet-asphalt: #34495e;
  --midnight-blue: #2c3e50;
  --green-sea: #16a085;
  --nephritis: #27ae60;
  --belize-hole: #2980b9;
  --wisteria: #8e44ad;
  --sun-flower: #f1c40f;
  --carrot: #e67e22;
  --alizarin: #e74c3c;
  --clouds: #ecf0f1;
  --concrete: #95a5a6;
  --orange: #f39c12;
  --pumpkin: #d35400;
  --pomegranate: #c0392b;
  --silver: #bdc3c7;
  --asbestos: #7f8c8d;

  /* app colors */
  --color-background: var(--color-primary-a0);
  --color-background-header: var(--color-background);
  --color-background-animated-icon: var(--color-background);
  --color-border: var(--color-primary-a10);
  --color-border-hover: var(--color-primary-a20);
  --color-text: var(--color-primary-a50);
  --color-text-error: var(--pomegranate);
  --color-icon-loading: var(--wet-asphalt);
  --color-links: var(--wet-asphalt);
  --color-links-hover: var(--midnight-blue);

  --app-width: 1024px;
  --header-height: 60px;
  --section-gap: 100px;
  --font-size: 16px;
  --line-height: 1.6;
  --font-family: Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  --border-radius: 4px;
  --transition-default: all 0.5s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*
    Hero Patterns https://heropatterns.com/
    bg-color: --wet-asphalt
  */
  background-color: var(--color-background);
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2334495e' fill-opacity='0.1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

b {
  font-weight: 700;
}

a,
a:visited,
a:active {
  color: var(--color-links);
}

a:hover {
  color: var(--color-links-hover);
}